<!-- profile.png reference: https://images.app.goo.gl/YSQk29RxAckDdLsY8 -->
{% extends "navigation.html" %}
{% block navigation_content %}
{% load static %}
<link rel="stylesheet" href="{% static '/users/css/style.css' %}">

<div id="app">
    <div class="container profile-image">
        <div>
            <img src="{% static '/users/images/profile.png' %}" height="100%" width="100%">
        </div>

    </div>

    <div class="container profile-info">
        <div class="container">
            <div class="container profile-info-head">
                <h1 style="text-align: center"> {{user.first_name}}, Welcome to Mandala </h1>
            </div>

            <user-info
                    v-bind:user="user"
            ></user-info>
            </div>

        <div class="card">
             <div class="card-header">
                 Friends Requests
             </div>
             <div class="card-body">
                <ul class="list-group">
                    <request-list
                        v-for="(sender, index) in request_senders"
                        v-bind:sender="sender"
                        v-bind:index="index"
                    >
                    </request-list>
                </ul>
             </div>
        </div>

        <div class="card">
             <div class="card-header">
                 My Friends
             </div>
             <div class="card-body">
                 <ul class="list-group">
                     <friend-list
                       v-for="(friend, index) in friends"
                       v-bind:friend="friend"
                       v-bind:index="index"
                     >
                    </friend-list>
                 </ul>
             </div>

         </div>
    </div>

</div>

<template id="list-friend">
    <div v-if="!friend.isDeleted">
        <li class="list-group-item">
            <div class="form-inline">
                <a v-bind:href="'{% url 'profile' %}' + friend.uid">[[friend.firstName + ' ' + friend.lastName]]</a>
                <button class="btn btn-primary" @click="app.unfriend(friend.id, '{{ user.uid }}', index)">Delete</button>

            </div>
        </li>
    </div>
</template>


<template id="list-item">
    <div v-if="!sender.isDeleted">
        <li class="list-group-item">
            <div class="form-inline">
                <a v-bind:href="'{% url 'profile' %}' + sender.uid">[[sender.firstName + ' ' + sender.lastName]]</a>
                <button class="btn btn-primary" @click="app.accept(sender.id, '{{ user.uid }}', index)">Accept</button>
                <button class="btn btn-warning" @click="app.deny(sender.id, '{{ user.uid }}', index)">Deny</button>
            </div>
        </li>
    </div>
</template>


<template id="user-info">
    <div class="container profile-info-body">
        <div class="form-group">
            <label for="first_name">Firstname: </label>
            <input class="form-control" id="first_name" type="text" name="first_name"
                v-model="user.firstName">
            <label for="last_name">Lastname: </label>
            <input class="form-control" id="last_name" type="text" name="last_name"
                v-model="user.lastName">
            <label for="display_name">Displayname: </label>
            <input class="form-control" id="display_name" type="text" name="display_name"
                v-model=" user.displayName">
            <label for="email">Email: </label>
            <input class="form-control" id="email" type="text" name="email"
                v-model="user.email">
            <label for="bio">Bio: </label>
            <input class="form-control" id="bio" type="text" name="bio" v-model="user.bio">
            <label for="github">Github: </label>
            <input class="form-control" id="github" type="text" name="github"
                v-model=" user.github">
            <button class="btn btn-primary" @click="app.edit('{{ user.id.hex }}')">Edit</button>
            <button class="btn btn-primary" @click="app.delete_account('{{ user.id.hex }}')">Delete My Account</button>
        </div>
    </div>
</template>


<script>
    Vue.component('request-list', {
        delimiters: ['[[', ']]'],
        props: ['sender', 'index'],
        template: '#list-item'
    });

    Vue.component('friend-list', {
        delimiters: ['[[', ']]'],
        props: ['friend', 'index'],
        template: '#list-friend'
    });

    Vue.component('user-info', {
        delimiters: ['[[', ']]'],
        props: ['user'],
        template: '#user-info'
    });

    var app = new Vue({
        el: '#app',
        data: {
            msg: 'aaa'
        },
        data() {
            return {
                request_senders: [],
                user: {},
                friends: []
            }
        },
        methods: {
            // Retrieve users' friends and info
            get_user(id) {
                let url = '/author/' + id;
                window.axios.get(url).then((response) => {

                    this.user = response.data;
                    this.friends = response.data['friends'];
                    console.log(this.friends);
                })
            },

            // Retrieve users' friend requests
            get_request(url) {
                window.axios.get(url).then((response) => {
                    let data = response.data;
                    let from_ids = data['request'];

                    for (var uid of from_ids) {
                        let idlist = uid.split('/');

                        let from_id = idlist[idlist.length - 1];
                        window.axios.get('/author/' + from_id).then((response) => {
                            //let username = response.data['firstName'] +' '+ response.data['lastName'];
                            response.data['uid'] = idlist[idlist.length - 1];
                            response.data['isDeleted'] = false;
                            this.request_senders.push(response.data);
                        })
                    }
                });
            },

            // Accept users' friend requests
            accept: function (sender_id, user_id, index) {
                window.axios.post("/friendrequest/handle", {
                    // Author id is from_id (Other's id)
                    "author": {
                        "id": sender_id
                    },
                    // Friend id is to_id (Your id)
                    "friend": {
                        "id":  user_id
                    }
                }).then((response) => {
                    if (response.status === 200) {
                        alert(response.data);
                        this.request_senders[index]['isDeleted'] = true;
                    }
                })
            },
            // Deny users' friend requests
            deny: function (sender_id, user_id, index) {
                window.axios.delete("/friendrequest/handle", {
                    data: {
                        "author": {
                            "id": sender_id
                        },
                        // Friend id is to_id (Your id)
                        "friend": {
                            "id": user_id
                        }
                    }

                }).then((response) => {
                    if (response.status === 200) {
                        alert(response.data);
                        this.request_senders[index]['isDeleted'] = true;
                    }
                })
            },
            // Delete users' friends
            unfriend: function (friend_id, user_id, index) {
                window.axios.post("/author/unfriend", {
                    'author_id': user_id,
                    'friend_id': friend_id
                }).then((response) => {
                    if (response.status === 200) {
                        alert(response.data);
                        this.friends[index]['isDeleted'] = true;
                    }
                });
            },

            //This function is used to allow users edit their profile info
            edit(user_id) {

                window.axios.post("/author/" + user_id + "/update", {

                    'delete':false,
                    'first_name':this.user.firstName,
                    'last_name':this.user.lastName,
                    'email':this.user.email,
                    'bio':this.user.bio,
                    'github': this.user.github,
                    'display_name': this.user.displayName

                }).then((response) => {
                    if (response.status === 200) {
                        alert("Profile successfully updated");
                    }
                });


            },

            //This function is used to allow users delete their account
            delete_account(user_id){

                window.axios.post("/author/" + user_id + "/update", {
                    'delete':true,
                    'first_name':this.user.firstName,
                    'last_name':this.user.lastName,
                    'email':this.user.email,
                    'bio':this.user.bio,
                    'github': this.user.github,
                    'display_name': this.user.displayName

                }).then((response) => {
                    if(response.status === 200) {
                        alert("Delete successfully !");
                        window.location.reload();
                    }
                });
            }

        },

        created() {
            this.get_user("{{user.id.hex}}");
            this.get_request('/friendrequest/{{user.id.hex}}');
        }
    });

</script>


{% endblock %}
