{% extends "navigation.html" %}
{% block navigation_content %}
{% load static %}
<link rel="stylesheet" href="{% static '/users/css/style.css' %}">


<div>
    <div class="container profile-image">
        <div>
            <img src="{% static '/users/images/profile.png' %}" height="100%" width="100%">
        </div>

    </div>
    <div class="container profile-info">
        <div class="container">
            <div class="container profile-info-head">
                <h1 style="text-align: center"> {{user.first_name}}, Welcome to Mandala </h1>
            </div>

            <div class="container profile-info-body">
                <form action="{% url 'profile' %}" method="post">
                    <div class="form-group">
                        <label for="new_fname">Firstname: </label>
                        <input class="form-control" id="new_fname" type="text" name="new_fname"
                            value="{{ user.first_name }}">
                        <label for="new_lname">Lastname: </label>
                        <input class="form-control" id="new_lname" type="text" name="new_lname"
                            value="{{ user.last_name }}">
                        <label for="new_dname">Displayname: </label>
                        <input class="form-control" id="new_dname" type="text" name="new_dname"
                            value="{{ user.display_name }}">
                        <label for="new_email">Email: </label>
                        <input class="form-control" id="new_email" type="text" name="new_email"
                            value="{{ user.email }}">
                        <label for="new_bio">Bio: </label>
                        <input class="form-control" id="new_bio" type="text" name="new_bio" value="{{ user.bio }}">
                        <label for="new_github">Github: </label>
                        <input class="form-control" id="new_github" type="text" name="new_github"
                            value="{{ user.github}}">

                    </div>

                    <input class="btn btn-primary " type="submit" value="Edit">
                </form>

            </div>
        </div>


    </div>
</div>



{% endblock %}