{% load static %}
<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Mandala: Posting</title>
		<meta charset='UTF-8'/>
		<link rel="stylesheet" type="text/css" 
		href="{% static '/css/posting.css' %}"/>
	</head>

	<body>
		<section class="topBar">
			
				<a href="/" title="Go to Mandala Home Page" class="title" style="text-decoration: none">Mandala</a>
			
			<span class="profile">USER NAME</span>
		</section>
		<hr>

		<label for="title">Title</label> <br>
		<textarea type="textarea" id="title" name="title"></textarea><br><br>
		<label for="description">Description</label> <br>
       	<textarea type="textarea" id="description" name="description"></textarea><br><br>

       	<select id="visi" onclick="visibility_changed()">
		  <option value="public">Public</option>
		  <option value="friends">Friends</option>
		  <option value="foaf">Friends of A Friend</option>
		  <option value="private" >Private</option>
		  <option value="serverOnly">Server Only</option>
		</select>
		
		<br><br>
		<select id="visibleTo" style="visibility: hidden;">
			<option>@TODO get all Users here</option>
		</select>
		<br>
		<br>
  		<input type="submit" value="Post">

		<script type="text/javascript" src="{% static 'javascript/posting.js' %}"></script>
	</body>

</html>