{% extends "navigation.html" %}
{% block navigation_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/posting.css' %}">

    <div id="postPage">
        <!-- Form content -->
        {% if post %}
            <form action="{{ post.id }}" method="POST" id="postForm">
                {% csrf_token %}
                <input type="hidden" name="author" value={{ post.author }}>
                <span id="column1">
                    <label for="title">Title</label>
                    <textarea id="title" name="title" required>{{post.title}}</textarea>

                    <script type="text/javascript">
                        document.getElementById('title').innerText = ("{{post.title}}").replace(/&amp;lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;quot;/g, '"').replace(/&amp;apos;/g, "'").replace(/&amp;amp;/g, '&')
                    </script>


                    <label for="description">Description</label>
                    <textarea id="description" name="description" required>{{ post.description }}</textarea>

                    <script type="text/javascript">
                        document.getElementById('description').innerText = ("{{post.description}}").replace(/&amp;lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;quot;/g, '"').replace(/&amp;apos;/g, "'").replace(/&amp;amp;/g, '&')
                    </script>

                    <label for="content">Content</label>
                    <textarea id="content" name="content" required>{{ post.content }}</textarea>

                    <script type="text/javascript">
                        document.getElementById('content').innerText = ("{{post.content}}").replace(/&amp;lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;quot;/g, '"').replace(/&amp;apos;/g, "'").replace(/&amp;amp;/g, '&')
                    </script>

                </span>
                <span id="column2">
                    <label for="categories">Categories</label>
                    <textarea id="categories" name="categories" placeholder="Separate on different lines">{% for category in post.categories.all %}{{ category }}&#10;{% endfor %}</textarea>
                </span>
            </form>
        {% endif %}
        <div id="section2">
            <label for="contentType">Choose your content type:</label>
            <select id="contentType" form="postForm" name="contentType">
                <option value="text/plain" {% if post.contentType == "text/plain" %}selected{% endif %}>Plain Text</option>
                <option value="text/markdown" {% if post.contentType == "text/markdown" %}selected{% endif %}>Markdown</option>
                <option value="image/png;base64" {% if post.contentType == "image/png;base64" %}selected{% endif %}>PNG</option>
                <option value="image/jpeg;base64" {% if post.contentType == "image/jpeg;base64" %}selected{% endif %}>JPEG</option>
            </select>

            <!-- Select for choosing visibility of post -->
            <label for="visi">Choose the Visibility of your post:</label>
            <select id="visi" form="postForm" name="visibility" onchange="visibilityChanged()">
                <option value="PUBLIC" {% if post.visibility == "PUBLIC" %}selected{% endif %}>Public</option>
                <option value="FRIENDS" {% if post.visibility == "FRIENDS" %}selected{% endif %}>Friends</option>
                <option value="FOAF" {% if post.visibility == "FOAF" %}selected{% endif %}>Friends of A Friend</option>
                <option value="PRIVATE" {% if post.visibility == "PRIVATE" %}selected{% endif %}>Private</option>
                <option value="SERVERONLY" {% if post.visibility == "SERVERONLY" %}selected{% endif %}>Server Only</option>
            </select>

            <!-- Only appears when visibility is set to private. -->
            <div id="visibleTo" style="visibility: hidden;">
                <label for="visibleFor">Who can view your post:(ctrl+click to select multiple)</label>
                <select id="visibleFor" form="postForm" name="visibleTo">
                    <option>No users available to choose from</option>
                </select>
            </div>

            <div id="unlisted">
                Unlisted
                <select name="unlisted" form="postForm">
                    <option value="false" {% if post.unlisted == True %}selected{% endif %}>False - Visible in streams</option>
                    <option value="true" {% if post.unlisted == True %}selected{% endif %}>True - Only visible by direct link</option>
                </select>
            </div>

            <!-- type="submit" form="postForm" -->
            <button id="editButton" onclick="editPost()">Edit</button>

            <!-- If links to editable images are detected then they will be displayed here -->
            <div id="image_edit_links"></div>
        </div>
        
            
        <script type="text/javascript">
            function editPost() {
                var formData = new FormData(document.querySelector('#postForm'));

                //Post the form data and redirect to the homepage
                fetch("{% url 'edit_or_delete_post' post.id%}", {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    if (response.status == 200) {
                        window.location.href = "/"
                    } else {
                        alert("Unable to edit post")
                    }
                })
            }
        </script>
        <script type="text/javascript" src="{% static 'javascript/posting.js' %}"></script>
        <script type="text/javascript">
            //creates list of uids of selected users the post is visibleTo
            var people = [];
            {% for visibleTo in post.visibleTo.all %}
                people.push("{{ visibleTo.author_uid }}");
            {% endfor %} 
            window.onload = visibilityChanged(people);
        </script>
        <script>
            window.addEventListener('load', ()=>{
                let links = scan_for_image_edit_links(
                    document.querySelector('#content').value,
                    '{{ hostname }}',
                    '{{ url_image_path}}',
                    '{{ url_post_edit_path}}'
                );

                let node = document.querySelector('#image_edit_links');
                node.innerHTML = '';
                if(Object.keys(links).length > 0){
                    let explanation = document.createElement('p');
                    explanation.innerText = "It appears you have some links to hosted image posts in your new post. You can click these links to edit the posts:";
                    let list = document.createElement('ul');
                    for(let key of Object.keys(links)){
                        let li = document.createElement('li');
                        let a = document.createElement('a');
                        a.href = 'http://' + links[key];
                        a.innerText = key;
                        li.appendChild(a);
                        list.appendChild(li);
                    }
                    explanation.appendChild(list);
                    node.appendChild(explanation);
                }
            })
        </script>
    </div>
{% endblock %}