{% extends "navigation.html" %}
{% block navigation_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/posting.css' %}">

    <div id="postPage">
        <!-- Form content -->
        <form action="/author/posts/" method="POST" id="postForm">
            {% csrf_token %}
            <input type="hidden" name="author" value={{ author }}>


            <input id="upload-file" type="file" accept="image/jpeg, image/png" />

            <label for="title">Title</label>
            <textarea id="title" name="title" required></textarea>

            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>

            <label for="content">Content</label>
            <textarea id="content" name="content" required></textarea>

            <label for="categories">Categories</label>
            <textarea id="categories" name="categories" placeholder="Separate on different lines"></textarea>
        </form>


        <label for="contentType">Choose your content type:</label>
        <select id="contentType" form="postForm" name="contentType">
            <option value="TYPE_PLAIN">Plain Text</option>
            <option value="TYPE_MARKDOWN">Markdown</option>
        </select>

        <!-- Select for choosing visibility of post -->
        <label for="visi">Choose the Visibility of your post:</label>
        <select id="visi" form="postForm" name="visibility" onchange="visibilityChanged()">
            <option value="PUBLIC">Public</option>
            <option value="FRIENDS">Friends</option>
            <option value="FOAF">Friends of A Friend</option>
            <option value="PRIVATE">Private</option>
            <option value="SERVERONLY">Server Only</option>
        </select>

        <!-- Only appears when visibility is set to private.
            this will have to be implemented later when we know all the users on
            the server and can specify certain people -->
        <div id="visibleTo" style="visibility: hidden;">
            <label for="visibleFor">Who can view your post:</label>
            <select id="visibleFor" form="postForm" name="visibleTo">
                <option>No users available to choose from</option>
            </select>
        </div>

        <!-- type="submit" form="postForm" -->
        <button type="submit" form="postForm" id="postButton">Post</button>

        <script type="text/javascript" src="{% static 'javascript/posting.js' %}"></script>
        <script>
            /**
             * Content derivative from:
             *  https://usefulangle.com/post/67/pure-javascript-ajax-file-upload-showing-progess-percent
             * Available under the MIT license
             */
            document.querySelector('#upload-file').addEventListener('change', function() {
                // This is the file user has chosen
                var file = this.files[0];

                // Allowed types
                var mime_types = [ 'image/jpeg', 'image/png' ];

                // Validate MIME type
                if(mime_types.indexOf(file.type) == -1) {
                    alert('Error : Incorrect file type');
                    return;
                }

                // Max 2 Mb allowed
                if(file.size > 2*1024*1024) {
                    alert('Error : Exceeded size 2MB');
                    return;
                }

                // Validation is successful
                // This is the name of the file
                alert('You have chosen the file ' + file.name);

                var data = new FormData();

                var request = new XMLHttpRequest();

                // File selected by the user
                // In case of multiple files append each of them
                data.append('file', document.querySelector('#upload-file').files[0]);

                data.append('title', '');
                data.append('description', '');
                data.append('content', '');
                data.append('contentType', file.type);
                data.append('visibility', "PRIVATE");
                data.append('visibleTo', "");
                data.append('categories', "");
                data.append('unlisted', "true");


                // AJAX request finished
                request.addEventListener('load', function(e) {
                    // request.response will hold the response from the server
                    console.log(request.response);
                });

                // Upload progress on request.upload
                request.upload.addEventListener('progress', function(e) {
                    var percent_complete = (e.loaded / e.total)*100;

                    // Percentage of upload completed
                    // console.log(percent_complete);
                });

                // When the upload is complete is should respond
                request.onreadystatechange = function() {
                    if (request.readyState === 4) {
                        if(request.response.success === "true"){
                            let url = "{% url 'post' '00000000000000000000000000000000'%}".replace(/00000000000000000000000000000000\//, "");
                            document.querySelector('#content').value += (`![This is my uploaded image](${url}${request.response.msg})`);
                        } else {
                            alert(`We were unable to upload your image, error: ${request.response.msg}`)
                        }
                    }
                };

                // If server is sending a JSON response then set JSON response type
                request.responseType = 'json';

                // Send POST request to the server side script
                request.open('post', '/author/posts/');
                request.send(data);
            });
        </script>
    </div>
{% endblock %}