{% load static %}
<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Mandala: Posting</title>
		<meta charset='UTF-8'/>
		<link rel="stylesheet" type="text/css" 
		href="{% static '/css/posting.css' %}"/>
	</head>

	<body>
		<section class="topBar">
			<a href="/" title="Go to Mandala Home Page" class="title" style="text-decoration: none">Mandala</a>
			<span class="profile">USER NAME</span>
		</section>
		<hr>
       	
		<p>Your post has been created. <a href="/">Click here to return to homepage.</a></p>
	</body>

</html>