
.item-center {
	margin-top: 10px;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
}

.login-l {
	float: left;
	width: 70%;
}

.login-r {
	margin-left: 72%;
	width: 20%;
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
}

.register {
	margin-top: 20px;
	width: 35%;
	margin-bottom: 40px;
}

.register-title {
	margin-top: 10px;
	margin-bottom: 40px;
	text-align: center;
}

.profile-image {
	display:inline-block;
	width: 50%;
	transform: translateX(10%);
}

.profile-info {
	display:inline-block;

	width: 50%;
	position: absolute;
}

.profile-info-head{
	margin-top: 10%;
	width: 80%;
	position: relative;
}

.profile-info-body{
	margin-top: 10%;
	width: 60%;

}

.parentElement{
	position:relative;
}

.childElement{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

}
