@charset "UTF-8";

#postPage {
  margin-left: 10pt;
  margin-top: 6pt;
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
}

#postPage label{
  display: block;
  margin-bottom: -1pt;
}

#column1{
  float: left;
  width: 60%;
}

#column2{
  float: right;
  width: 35%;
}

#section2 {
  float: left;
}

#title {
  text-align: left;
  justify-content: top;
  font-size: 12pt;
  line-height: 1;
  border-radius: 3pt;
}

#description {
  width: 90%;
  text-align: left;
  justify-content: top;
  font-size: 12pt;
  line-height: 1;
  border-radius: 3pt;
}

#content {
  height:50pt;
  width: 90%;
  font-size: 12pt;
  text-align: left;
  justify-content: top;
  border-radius: 3pt;
}

#categories {
  height:192pt;
  width: 80%;
  font-size: 12pt;
  text-align: left;
  justify-content: top;
  border-radius: 3pt;
}

#contentType {
  width: 27%;
  font-size: 12pt;
  border-radius: 3pt;
}


#visi {
  width: 40%;
  font-size: 12pt;
  border-radius: 3pt;
}

#visibleFor{
  width: 70%;
  font-size: 12pt;
  border-radius: 3pt;
}

#postButton, #editButton{
   margin-top: 8pt;
   padding-right: 10pt;
   padding-left: 10pt;
   margin-bottom: 20pt;
   color: #fff;
   background-color: #17a2b8;
   border-color: #17a2b8;
   text-decoration: none;
   border-radius: 3pt;
   border-style: solid;
}

