{% extends "navigation.html" %}
{% block navigation_content %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-7">
            <div class="mt-3">
                <a class="btn btn-info" href="{% url 'add_or_get_post' %}">+ ADD</a>
            </div>


            <div class="mt-5">
                <!-- show post-->
                <div class="list-group">

                    {% for post in posts %}
                  <a href="{% url 'post' post.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{post.title}}</h5>
                      <small>{{post.published}}</small>
                    </div>
                    <p class="mb-1">{{post.content}}</p>
                    <small>{{post.author}}</small>
                  </a>
                    <div>

                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pagination_urls">
                {% if prev_uri is not None %}
                    <a href="{{ prev_uri }}">PREVIOUS</a>
                {% endif %}
                {% if next_uri is not None %}
                    <a href="{{ next_uri }}">NEXT</a>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-3">

            <p>github activity</p>
        </div>
        <div class="col-sm-1">

        </div>

    </div>
</div>





{% endblock %}